body {
    margin: 0;
    padding: 0;
    font-family: 'Your Chosen Font', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background: #000000;
    padding: 10px;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    
}

.headerdiv1 {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    
    
}

.headerdiv1 a {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    
}

.headerdiv2 {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    padding-top: 10px;
    
}

.headerdiv2 a {
    color:  #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/* main */

.sectiondiv1 {
    background: url('images/312313490_438229651775396_9214185198036673246_n.jpg') center/cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-shrink: 0;
}

.background-image {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.nested-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    align-items: center;
    text-align: center;
}

.sec1h1 {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 810px;
    margin: 0;
}

.sec1span1 {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sec1span2 {
    color: var(--Blue-100, #333DF0);
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sectiondiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div1 {
    display: flex;
    /* justify-content: center; */
    flex-direction: column; 
    align-items: center;
}

.div2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 0;
}

.div2h3 {
    color: var(--black, #000);
    text-align: center;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 0;
}

.sec2span1 {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.div2p1 {
    width: 2px;
    height: 57px;
    background: var(--Blue-100, #333DF0);
    margin-top: 70px;
}

.div2p2 {
    width: 700px;
    margin-top: 70px;
    
}

.div3 {
    display: flex;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
}

.div3photo {
    max-width: 100%;
    height: auto; 
    flex-shrink: 0;
}

.sectiondiv3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    background: var(--Blue-10, #EBDEF0);
    margin-top: 100px;
}

.div4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 0px;
    padding: 0px;
}

.div5,
.div6,
.div7 {
    text-align: center;
    
}

.div4 h3 {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.div4 p {
    color: var(--black, #000);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* FOOTER */

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 0px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footdiv1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.footdiv2 {
    text-align: left;
    gap: 20px;
    width: 300px;
}

.footdiv2 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footdiv2 h2 {
    font-family: anek devanagari;
}

.footdivimg {
    display: flex;
    gap: 30px;
    width: 20px;
    height: 20px;
}

.footdiv3 {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    gap: 40px;
    margin-right: 0px;
    padding-right: 40px;

}

.footdiv3-1,
.footdiv3-2,
.footdiv3-3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fit {
    color: orange;
}

  
.club {
    color: white;
}


@media only screen and (max-width: 768px) {
    .headerdiv1 {
        flex-direction: row;
        text-align: center;
        margin: 10px;
    }

    .headerdiv2 {
        flex-direction: row;
        gap: 10px; 
        margin-top: 10px; 
    }

    .sectiondiv1 {
        display: flex;
        max-width: 100%;
        height: auto;
        flex-shrink: 0;
    }

    .div2 {
        max-width: 50%;
    }

    .sectiondiv3 {
        display: flex;
        max-width: 100%;
        height: auto;
        flex-shrink: 0;
    }

    .div3 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: 0;
    }

    .nested-div {
        margin-top: 100px;
    }

    .sec1h1 {
        font-size: 36px;
    }

    .footdiv1 {
        display: flex;
        max-width: 100%;
        height: auto;
        flex-shrink: 0;
    }
}
