body {
    margin: 0;
    padding: 0;
    
    
}

header {
    background: #000000;
    padding: 10px;
    
}

.headerdiv1 {
    display: flex;
    justify-content: space-between;
    margin: 0 117px;
    
    
}

.headerdiv1 a {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    
}

.headerdiv2 {
    display: flex;
    margin-top: 10px;
    gap: 75px;
    padding-top: 10px;
    
}

.headerdiv2 a {
    color:  #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/* main */

main {
    margin: 0;
    padding: 0;
    height: 100%;
    position: fixed;
    width: 100%;
}

.sectiondiv1 {
    background: url('images/pexels-photo-4162451\ 1.png') center/cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 706px;
    flex-shrink: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.background-image {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;

}

.div1 {
    display: flex;
    flex-direction: column;
    width: 543px;
    height: 371px;
    padding: 27px 33px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--Blue-90, #474FF0);
    margin-top: 50px;
}

.div1-1,
.div1-3 {
    background: var(--Orange-100, #F57325);
    height: 2px;
    width: 477px;
}

.div1-2 {
    display: flex;
    justify-content: center;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 600px;
}


.div2 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin-top: 50px;
}

.div2 h3 {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.div2span {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.div2 input {
    display: flex;
    width: 279px;
    padding: 10px 0px;
    align-items: flex-start;
    color: var(--white, #FFF);
    font-family: Roboto;
    gap: 10px;
    border: none; 
    border-bottom: 2px solid var(--Blue-90, #474FF0);
    outline: none;
    background-color: transparent;
    padding: 8px;
    
}

input::placeholder {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type="submit"] {
    display: flex;
    margin: 16px;
    justify-content: center;
    align-items: center;
    background: var(--Orange-100, #F57325);
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 12px 40px;
    width: 205px;
    gap: 10px;
}

.sectiondiv1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}


/*  */



/* FOOTER */

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.footdiv1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.footdiv2 {
    text-align: left;
    gap: 20px;
    width: 300px;
}

.footdiv2 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footdiv2 h2 {
    font-family: anek devanagari;
}

.footdivimg {
    display: flex;
    gap: 30px;
    width: 20px;
    height: 20px;
}

.footdiv3 {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    gap: 40px;
    margin-right: 60px;
    padding-right: 40px;

}

.footdiv3-1,
.footdiv3-2,
.footdiv3-3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fit {
    color: orange;
}

  
.club {
    color: white;
}


/* responsive */
@media only screen and (max-width: 768px) {
    header {
        height: 50px;
    }

    .headerdiv1 {
        margin: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
    }

    .headerdiv1 a {
        display: block;
    }

    .headerdiv2 {
        margin: 0 20px;
        display: block;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;
    }

    .headerdiv2 a {
        display: inline;
        margin-left: 20px; 
    }
    
    

    .background-image {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
        gap: 20px;
    }

    .div1 {
        width: 40%;
        margin-top: 20px;
        padding: 20px;
        height: 300px;
    }

    .div2 {
        width: 40%;
        margin-top: 0;
        height: 300px;
    }

    .div1-2 {
        font-size: 20px;
        width: auto;
    }

    .div1-1,
    .div1-3 {
        background: var(--Orange-100, #F57325);
        height: 2px;
        width: 200px;
    }
    
    .div2 input {
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
        margin: 10px 0;
    }

    footer {
        height: 400px;
    }

    .footdiv1 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footdiv3 {
        margin-right: 0;
        padding-right: 0;
    }
}