body {
    margin: 0;
    padding: 0;
    font-family: 'Your Chosen Font', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background: #000000;
    padding: 10px;
    
}

.headerdiv1 {
    display: flex;
    justify-content: space-between;
    margin: 0 117px;
    
    
}

.headerdiv1 a {
    color: #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    
}

.headerdiv2 {
    display: flex;
    margin-top: 10px;
    gap: 75px;
    padding-top: 10px;
    
}

.headerdiv2 a {
    color:  #FFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/* main */

.sectiondiv1 {
    background: url('images/pexels-photo-1552249\ 1.png') center/cover;
    height: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.background-image {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}


.mainfit {
    color: var(--Orange-100, #F57325);
    font-family: "Anek Devanagari";
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mainclub {
    color: var(--white, #FFF);
    font-family: "Anek Devanagari";
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nested-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

.inner-div1,
.inner-div2,
.inner-div3 {
    width: 300px;
    height: 100px;
    margin: 10px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
}

.challenge {
    font-family: Lora;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.yourself {
    color: #7073F0; 
    font-family: Lora;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inner-div3 {
    gap: 20px;
    width: 500px;
    
}

.pickdiv1 {
    display: flex;
    width: 110px;
    padding: 0px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid var(--Orange-100, #F57325);
    color: var(--Orange-100, #F57325);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.pickdiv2 {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 0px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid var(--Blue-100, #333DF0);
    background: var(--Blue-100, #333DF0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.meet,
.trainer {
    color: var(--black, #000);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.our {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.meetrainerdiv,
.meetrainerdiv h2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 26px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 412px;
    flex-shrink: 0;
    background: var(--black, #000);
    /* margin-top: 50px; */
}

.flex-item {
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
}

.flex-item1 {
    position: relative;
    top: -27%;
    border-radius: 5px;
    background: var(--Grey-10, #FBEAED);
}

.flex-item2 {
    border-radius: 5px;
    background: var(--Grey-10, #FBEAED);
    margin: 10px;
}

.flex-item3 {
    position: relative;
    bottom: -37%;
    border-radius: 5px;
    background: var(--Grey-10, #FBEAED);
}

.flex-item1 p,
.flex-item2 p,
.flex-item3 p {
    color: var(--black, #000);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;
}

.flex-item1 span,
.flex-item2 span,
.flex-item3 span {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 16px;
}

.flex-item1 a,
.flex-item2 a,
.flex-item3 a {
    display: flex;
    padding: 12px 20px;
    margin: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--Blue-100, #333DF0);
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.flex-item1 h3 {
    color: var(--black, #000);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sectiondiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 170px;
}

.section2svg {
    position: relative;
    top: 45%;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}

.rectanglediv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 102px;
    height: 6px;
    flex-shrink: 0;
    background: var(--Blue-100, #333DF0);
    
}

/* section2 */

/* .section3head {
    display: block;
    position: relative;
    bottom: 100px;
} */

.section3head h1 {
    color: var(--white, #FFF);
    padding-left: 110px;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.section3head p {
    color: var(--Orange-100, #F57325);
    padding-left: 110px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 38px;
}

.section3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 50px;
    background: var(--black, #000);
}

.programs-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}

.programs-content {
    display: flex;
    text-align: center; 
    margin-bottom: 50px;
}

.programs-content svg {
    width: 40px;
    height: 40px;
}

/* .program-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.program-card {
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.program-card img {
    width: 387px;
    height: 581px;
}

.program-info {
    width: 336px;
    text-align: left;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--LightPurple-10, #F1E0E9);
}

.image-slider {
    display: flex;
    margin-left: 110px;
    width: 1200px;
    height: 2px;
    flex-shrink: 0;
    background: var(--LightPurple-20, #E3D5E6);

    
}

.slider2 {
    display: flex;
    width: 285px;
    height: 4px;
    flex-shrink: 0;
    background: var(--Orange-100, #F57325);
}

.image-slider img {
    width: 100%;
    height: auto;
    display: inline-block;
}

/* section4 */

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

}

.sect4h {
    color: var(--black, #000);
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sec4boxes {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: left;
    margin: 100px 0;
}

.sec4boxes a {
    text-decoration: none;
}

.sec4boxesspan {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec4boxesh3 {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec4boxesa {
    display: flex;
    color: #F57325;
    padding: 15px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--Orange-100, #F57325);
}

.black  {
    color: var(--black, #000);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.memname {
    display: flex;
    justify-content: center;
}

.grey {
    color: #959595;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boxes1-3 {
    border-radius: 20px;
    padding: 24px 39px;
    border: 1px solid var(--Orange-100, #F57325);
    background: var(--white, #FFF);
}

.boxes1-3 svg,
.boxes2 svg {
    position: relative;
    top: 7px;
}

.boxes2 {
    padding: 24px 39px;
    border-radius: 20px;
    background: #7378D0;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    bottom: 60px;
}

.sec4boxes2a {
    display: inline-flex;
    padding: 15px 80px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white, #FFF);
    border-radius: 10px;
    background: var(--Orange-100, #F57325);
}

.sec4boxesspan2 {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sec4boxesspan1-1 {
    color: var(--Orange-100, #F57325);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sec4boxesh32 {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* FOOTER */

footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 0px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footdiv1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.footdiv2 {
    text-align: left;
    gap: 20px;
    width: 300px;
}

.footdiv2 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footdiv2 h2 {
    font-family: anek devanagari;
}

.footdivimg {
    display: flex;
    gap: 30px;
    width: 20px;
    height: 20px;
}

.footdiv3 {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    gap: 40px;
    margin-right: 60px;
    padding-right: 40px;

}

.footdiv3-1,
.footdiv3-2,
.footdiv3-3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fit {
    color: orange;
}

  
.club {
    color: white;
}